annotated-types==0.7.0
anyio==4.8.0
async-timeout==5.0.1
blinker==1.9.0
cachelib==0.13.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
coloredlogs==15.0.1
exceptiongroup==1.2.2
filelock==3.17.0
Flask==3.1.0
Flask-Session==0.8.0
flatbuffers==20181003210633
fsspec==2025.3.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.5.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.1
grpcio==1.71.0
grpcio-status==1.71.0
gTTS==2.5.4
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
llvmlite==0.43.0
MarkupSafe==3.0.2
more-itertools==10.6.0
mpmath==1.3.0
msgspec==0.19.0
networkx==3.2.1
numba==0.60.0
numpy==1.25.2
onnxruntime==1.19.2
openai-whisper==20240930
packaging==24.2
piper-phonemize==1.1.0
piper-tts==1.2.0
pkg_resources==0.0.0
proto-plus==1.26.1
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
pyring_buffer==1.0.1
pysilero-vad==1.0.0
python-dotenv==1.0.1
pyttsx3==2.98
regex==2024.11.6
requests==2.32.3
rsa==4.9
sniffio==1.3.1
spidev==3.6
srt==3.5.3
sympy==1.13.1
tiktoken==0.9.0
torch==2.6.0
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
vosk==0.3.45
webrtc-noise-gain==1.2.3
websockets==14.2
Werkzeug==3.1.3
wyoming==1.5.4
-e git+https://github.com/rhasspy/wyoming-satellite.git@ac0b4c7d14aa5471c1706c02361b49214272fe0f#egg=wyoming_satellite
zeroconf==0.88.0
zipp==3.21.0
